.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.our-team__title {
  text-align: center;
  font-weight: 500;
  margin: 0 0 79px;
  font-size: 37px;
  letter-spacing: normal;
}

@media screen and (max-width: 767px) {
  .our-team__title {
    margin: 0 0 30px;
  }
}

.our-team__grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

@media (max-width: 767px) {
  .our-team__grid {
    justify-content: center;
  }
}

.our-team__grid--card {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

@media (max-width: 1249px) {
  .our-team__grid--card {
    width: 20%;
  }
}
@media (max-width: 991px) {
  .our-team__grid--card {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .our-team__grid--card {
    width: 100%;
    max-width: 200px;
  }
}

.our-team__grid--card img {
  width: 100%;
  object-fit: cover;
  height: fit-content;
  margin-bottom: 27px;
  aspect-ratio: 173/222;
}

.our-team__grid--card h3 {
  text-align: center;
  font-size: 19px;
  letter-spacing: normal;
  font-weight: 500;
  margin: 0 0 12px;
  line-height: 18.4px;
}

.our-team__grid--card p {
  text-align: center;
  opacity: 0.5;
  color: #1c1c25;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 300;
  line-height: 16px;
  margin: 0;
}
