.custom-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-text__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-text__block--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 850px;
  padding: 0 15px;
}

.custom-text__title {
  text-align: center;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 36px;
  margin-top: 0;
}

.custom-text__block p {
  margin: 0;
  padding: 0 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (min-width: 992px) {
  .custom-text__title {
    letter-spacing: -0.84px;
  }
  .custom-text__block p {
    font-size: 25px;
    padding: 0;
  }
}
