.hero-content{
    position: relative;
    display: flex;
    justify-content: center;
}
.media-container_image-desktop, .media-container_video-desktop{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.media-container_image-mobile, .media-container__video-mobile{
    width: 100%;
    height: auto;
}
.title-wrapper {
    position: absolute; 
    max-width: 1110px; 
    width: 100%;
    margin: 0;
    
    @media screen and (max-width: 1110px) {
        padding: 0 20px;
    }
}
.title-wrapper__content {
    padding: 15px 0;
}
.title-wrapper__content * {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1.06px;
    color: #fff;
    font-family: var(--gentona-font);

    @media screen and (min-width: 768px) {
        font-size: 43px;
    }
    @media screen and (min-width: 1279px) {
        font-size: 53px;
    }
}

