.our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-team__title {
  text-align: center;
  font-weight: 500;
  margin: 0 0 79px;
  font-size: 37px;
}

@media screen and (max-width: 767px) {
  .our-team__title {
    margin: 0 0 30px;
  }
}



.our-team__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(1, 1fr);
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 410px) {
  .our-team__grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }
}

@media screen and (min-width: 610px) {
  .our-team__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .our-team__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .our-team__grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1257px) {
  .our-team__grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1110px;
    padding: unset;
  }
}

.our-team__grid--card {
  display: flex;
  flex-direction: column;
  
}

@media screen and (max-width: 767px) {
  .our-team__grid--card {
    max-width: 170px;
  }
}



.our-team__grid--card img {
  width: 100%;
  object-fit: cover;
  height: fit-content;
  margin-bottom: 27px;
  aspect-ratio: 173/222;
}

.our-team__grid--card h3 {
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  margin: 0 0 12px;
}

.our-team__grid--card p {
  text-align: center;
  opacity: 0.5;
  color: #1c1c25;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  margin: 0;
}
