.rich-text {
  padding: 0 15px;
  max-width: 880px;
  margin: 0 auto;
}

.rich-text__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rich-text__block h1 {
  margin: 0 0 28px;
}

.rich-text__block h2 {
  margin: 0 0 22px;
}

.rich-text__block h3 {
  margin: 0 0 16px;
}

.rich-text__block p {
  margin: 0;
}

@media screen and (min-width: 769px) {
  .rich-text__block h1 {
    margin: 0 0 55px;
  }

  .rich-text__block h2 {
    margin: 0 0 45px;
  }

  .rich-text__block h3 {
    margin: 0 0 35px;
  }
}
